#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

@media screen and (max-width:1024px) {
    #content{
        grid-template-columns: 1fr;
    }
}

#articles{
    padding: 1em;
}



#articles h2,
#articles h3,
#articles h4,
#articles h5,
#articles h6{
    margin-top: 1em;
    margin-bottom: 1em;
}
.hljs{
    border: 1px solid #f1f1f1;
}
#articles{
    grid-column-start: 2;
    grid-column-end: span 1;
}