*{
    outline: none;
    font-family: 'Roboto', sans-serif;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

pre *{
    font-size: 0.9em;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

li{
    list-style-type: none;
}

p{
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
}
li p{
    margin: 0;
}

ul.card-list{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    padding: 2em;
}

ul.card-list li{
    display: grid;
    grid-template-columns: auto 1fr;
}

a,a:hover,a:visited,a:active{
    color: #1a73e8;
}