.btn{
    background: transparent;
    color: #2e283e;
}
.btn:hover{
    background: #2e283e;
    color: #d1d0d2;
}

h1,h2,h3,h4,h5,h6,b{
    color: #2e283e;
}

ul.card-list{
    background: #17141F;
    color: #d1d0d2;
}

ul.card-list a,
ul.card-list a:hover,
ul.card-list a:visited,
ul.card-list a:active{
    color: #9addff;
}