<style>
    .home-page{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-column-start: 2;
    }

    .home-main{
        padding: 1em;
    }

    @media screen and (max-width:1024px) {
        .home-page{
            grid-template-columns: 1fr;
        }
    }
    
    #articles h2,
    #articles h3,
    #articles h4,
    #articles h5,
    #articles h6{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .hljs{
        border: 1px solid #f1f1f1;
    }
</style>
<div id="content" class="home-page" export="main">
    <div></div>
    <div id="articles" class="home-main animated-pop">

    </div>
    <div></div>
</div>
<script>
    (async ()=>{
        const index = JSON.parse((await new GetHttpPromise("articles/index.json")).response);
        foreach(index,(article,i)=>{
            const item = create("div.menu-item",article.title);
            menu.appendChild(item);
            setOnRelease(item,async e=>{
                menu.hide();
                await setContent(articles,article.uri);
            });
            if(i===0) release(item);
        });


        (async function poll(){
            await foreach(document.getElementsByTagName("code"),async item=>{
                if(!item.hasAttribute("highlighted") && item.hasAttribute("highlight")){
                    let data;
                    if(item.hasAttribute("src")){
                        let request = await new GetHttpPromise(item.getAttribute("src"));
                        data = request.response;
                        
                    }else{
                        data = item.innerText;
                    }
                    const language = item.getAttribute("highlight");
                    
                    item.classList.add(language);
                    item.innerText = data;
                    hljs.highlightBlock(item);
                    item.setAttribute("highlighted","");
                }
                
            });
            setTimeout(poll,100);
        })();
    })();
</script>