
<div id="content" class="home-page" export="main">
    <style>
        #content{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
        }
    
        @media screen and (max-width:1024px) {
            #content{
                grid-template-columns: 1fr;
            }
        }
        
        #articles{
            padding: 1em;
        }
    
        
        
        #articles h2,
        #articles h3,
        #articles h4,
        #articles h5,
        #articles h6{
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .hljs{
            border: 1px solid #f1f1f1;
        }
    </style>
    <div></div>
    <div id="articles">

    </div>
    <div></div>
    <script>
        (async ()=>{
            const index = JSON.parse((await new GetHttpPromise("articles/index.json")).response);
            foreach(index,(article,i)=>{
                const item = create("div.menu-item",article.title);
                menu.appendChild(item);
                setOnRelease(item,async e=>{
                    /*if(document.body.offsetWidth < 980){
                        menu.hide();
                    }else{
                        window["top-menu"].style.left=Pixel(menu.offsetLeft+menu.offsetWidth);
                    }*/
                    menu.hide();
                    await setContent(articles,article.uri);
                    setTimeout(()=>{
                        root.style.opacity=1;
                    });
                    
                });
                if(i===0) release(item);
            });
    
    
            (async function poll(){
                await foreach(document.getElementsByTagName("pre"),async item=>{
                    if(!item.hasAttribute("highlighted") && item.hasAttribute("highlight")){
                        let data;
                        if(item.hasAttribute("src")){
                            let request = await new GetHttpPromise(item.getAttribute("src"));
                            data = request.response;
                            
                        }else{
                            data = item.innerText;
                        }
                        const language = item.getAttribute("highlight");
                        
                        item.classList.add(language);
                        item.innerText = data;
                        hljs.highlightBlock(item);
                        item.setAttribute("highlighted","");
                    }
                    
                    item.style.maxWidth=Pixel(main.offsetWidth-50);
                });
                setTimeout(poll,100);
            })();
        })();
    </script>
</div>
