<style>
    #main{
        position: fixed;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow-y: auto;
        
        background: #ffffff;
    }
</style>

<div id="main" class="animated-pop hide-pop" export="root"></div>
<script>
    (async ()=>{
        main.style.paddingTop = Pixel(window["top-menu"].offsetTop+window["top-menu"].offsetHeight);
        await setView("home");
        setOnRelease(main,e=>{
            menu.hide();
        });
    })();
</script>
